/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "tailwindcss";

@theme {
  /* --font-manrope: "Manrope", sans-serif; */

  --font-inter: "Inter", sans-serif;
  --font-monoton: "Monoton", sans-serif;
  
  
  --color-background-black: #18181B;
  --color-canvas-dark: #13171C;
  --color-pixora-50: #e4efff;
  --color-pixora-100: #cfe0ff;
  --color-pixora-200: #a8c4ff;
  --color-pixora-300: #749dff;
  --color-pixora-400: #3e61ff;
  --color-pixora-500: #1328ff;
  --color-pixora-600: #0010ff;
  --color-pixora-700: #0018ff;
  --color-pixora-800: #000ee4;
  --color-pixora-900: #0005b0;
  --color-pixora-950: #00001e;
}
